* {
    margin: 0;
    padding: 0;

}

html, body {
    height: 130%;
}


body {
        
    font-family: 'Raleway', sans-serif;
    color: white;
    background: linear-gradient( 
        180deg, rgba(54,204,195,1) 0%, rgba(23,64,94,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
        
}

.logo {
    width: 150px;
    background-color: #26e5ff;
    border-radius: 100px;
    border: 0px solid #26e5ff;
    box-shadow: 0 0 50px #26e5ff;
    
}


.cod {
    width: 80px;
    text-decoration: none;
    position: absolute;
    top: 15%;
    right: 75%;
    z-index: 10;


}
    
    

.activision {
    
        width: 80px;
        text-decoration: none;
        position: absolute;
        top: 12%;
        right: 75%;
        z-index: 10;


        
}

h1 {
    font-family: 'Oldenburg', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 0px;
}
h2 {
    font-size: 16px;
    margin-top: 2px;
}

h3 {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.profile {
    margin-top: 20px;
    text-align: center;
}


.social {
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.social img {
    border-radius: 100%;
    border: solid 2px #26e5ff;
    background-color: #26e5ff;
    font-size: 1em;
    height: 2.5em;
    line-height: 2.5em;
    position: relative;
    text-align: center;
    top: 0;
    width: 2.5em;
}

.social-list {
    width: 33px;
}
.codimg {
    width: 43px;
}

.gold {
    width: 23px;
}

.pix {
    width: 70px;
}

.hands {
    width: 50px;
}


.links-list {
    list-style: none;
    text-align: center;

}

.links-list li {
    margin: 20px 40px;

}

.links-list li a {
    display: block;
    background-color: whitesmoke;
    background-size: cover;
    border-radius: 50px;
    border: 1px solid #26e5ff;
    box-shadow: 0 0 30px #26e5ff;
    border-radius: 20px;
    text-decoration: none;
    color: #26e5ff;
    font-weight: bold;
    


}

.links-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;
}

.footer {
    align-self: baseline;
    font-family: 'Oldenburg', cursive;;
    margin-top: 40px;
    display: block;
    background-color: #26e5ff;
    color: white;
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
}